@import 'media-queries';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);

body {
  padding: 50px 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #E3E3E3;
}

a {
  color: #00B7FF;
}

span.glyphicon.glyphicon-plane {
    font-size: 25px;
    float: left;
    line-height: 75%;
    padding-right: 10px;
}

.navbar.navbar-inverse.navbar-fixed-top {
  position: absolute;
}

.navbar-nav>li:hover {
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.48);
    background: rgba(0, 0, 0, 0.27);
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.52);
}

.navbar-inverse {
background: rgba(41,89,133,1);
background: -moz-linear-gradient(top, rgba(41,89,133,1) 0%, rgba(11,48,87,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,89,133,1)), color-stop(100%, rgba(11,48,87,1)));
background: -webkit-linear-gradient(top, rgba(41,89,133,1) 0%, rgba(11,48,87,1) 100%);
background: -o-linear-gradient(top, rgba(41,89,133,1) 0%, rgba(11,48,87,1) 100%);
background: -ms-linear-gradient(top, rgba(41,89,133,1) 0%, rgba(11,48,87,1) 100%);
background: linear-gradient(to bottom, rgba(41,89,133,1) 0%, rgba(11,48,87,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#295985', endColorstr='#0b3057', GradientType=0 );
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.form-group {
  float: left;
  clear: both;
}

#map {
  float: left;
  height: 100vh;
  width: 100vw;
}

#select-div {
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 3px 1px 18px rgba(0, 0, 0, 0.13);
  margin-bottom: 20px;
  background: #EEE;
  div {
    padding: 0;
  }
  button {
    float: left;
    margin-left: 10px;
  }
}

.days {
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 3px 1px 18px rgba(0, 0, 0, 0.13);
  .form-group{
    margin: 0;
    padding: 0;
  }
}

.subform-group {
  display: flex;
}

#day-scroll {
background: rgba(41,89,133,1);
background: -moz-linear-gradient(top, rgba(41,89,133,1) 0%, rgba(11,48,87,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(41,89,133,1)), color-stop(100%, rgba(11,48,87,1)));
background: -webkit-linear-gradient(top, rgba(41,89,133,1) 0%, rgba(11,48,87,1) 100%);
background: -o-linear-gradient(top, rgba(41,89,133,1) 0%, rgba(11,48,87,1) 100%);
background: -ms-linear-gradient(top, rgba(41,89,133,1) 0%, rgba(11,48,87,1) 100%);
background: linear-gradient(to bottom, rgba(41,89,133,1) 0%, rgba(11,48,87,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#295985', endColorstr='#0b3057', GradientType=0 );
}

#itinerary-div {
  background: #EEE;
}

#footer {
  clear: both;
}

aside {
  //width: 30vw;
  width: 340px;
  position: absolute;
  top: 55px;
  right: 10px;
  // float: right;
}

aside div {
  width: 100%;
  padding: 10px;
  clear: both;
  float: right;
}

#day-scroll h3 {
    float: left;
    position: relative;
    padding-right: 15px;
    color: #F7F7F7;
    font-family: "open sans";
    margin: 0px;
    line-height: 33px;
}

select {
  min-width: 250px; 
}

.added {
  display: flex;
  padding: 0;
  p {
    max-width: 250px;
  }
}

.btn.btn-clear, .btn.btn-clear:focus, .btn.btn-clear:active  {
  color: rgb(233, 188, 188);
  background: transparent;
  border-color: transparent;
  padding: 0;
  position: absolute;
  right: 35px;
  outline: none;
  box-shadow: none;
}

.btn-clear:hover {
  color: rgb(249, 82, 82);
}